<form action="/logout" method="POST">
  <button type="submit">Logout</button>
</form>

<h1>
  Hey <span style="color: red;"><%= user.username%></span>
  Welcome to the Dashboard!
</h1>

<!-- Map Chart goes Here -->
<div id="chartdiv"></div>

<!-- List the Reviews here -->
<div>
  <ul>
    <% reviews.forEach((review) => { %>
      <li>
       <strong>Place:</strong> <%= review.name %><br>  
       <strong>City:</strong>  <%= review.city %><br> 
       <strong>State:</strong> <%= review.state %><br>
       <strong>Image:</strong> <img src="<%= review.picturePath %>" style="width:200px"><br>
       <strong>Comments:</strong> <%= review.comments %><br>
       <strong>Rating:</strong> <%= review.rating %><br>

       <a href="/<%= review._id %>/edit-review">Edit Review</a>
       <form action="/<%= review._id %>/delete" method="POST">
         <button type="submit">Delete Review</button>
       </form>
       
      </li>
    <% }) %>
</ul>

<a href="/new">Add a new Review Log</a>
</div>


