<body class="edit-page">
  <div class="edit-form">
    <div class="form-text">
      <h1>Edit Your Review Details</h1>
      <form action="/<%= review._id %>/edit-review" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="<%= review.name %>"><br>

        <label for="city">City</label><br>
        <input type="text" name="city" id="city" value="<%= review.city %>"><br>

        <label for="state">State</label>
        <input type="text" name="state" id="state" value="<%= review.state %>"><br>

        <label for="comments">Comments</label>
        <input type="text" name="comments" id="comments" value="<%= review.comments %>"><br>

        <label for="rating">Rating</label>
        <input type="number" name="rating" id="rating" value="<%= review.rating %>"><br><br>

        <label for="file-to-upload">Image Upload <strong>(Required)</strong></label>
        <input type="file" name="file-to-upload" value="<%= review.picturePath %>"><br>

        <button type="submit">Update Product</button>
      </form>
    </div>
  </div>
</body>
